#main-container {
    background-color: #EFEFF1;
}

.row {
    margin: 20px 0;
}

.nav-item .nav-link {
    color: white !important;
}

.nav-item .nav-link:hover{
    opacity: 0.8 !important;
}

.nav-icon {
    margin-right: 10px;
}

.header-section .card{
    height: 180px;
}

#exploratory .card-title {
    font-size: 1.4rem;
    text-align: center;
}

#exploratory .card-body {
    text-align: center;
}

#summary-header .card-text {
    color: #DA1E28;
}

#crimes_map {
    border: 1px solid black;
    text-align: center;
}

.prediction-link{
    background-color: #0dcaf0;
}

.prediction-link i{
    margin-left: 5px;
}

.prediction-link a, a:hover{
    color: white;  
    text-decoration: none;   
}

.radio_group label{
    margin-right: 10px;
}