.row {
    margin: 20px 0;
}

#exploratory .card-title {
    font-size: 1.4rem;
    text-align: center;
}

#exploratory .card-body {
    text-align: center;
}

#summary-header .card-text {
    color: #DA1E28;
}

#crimes_map {
    height: 285px;
    border: 1px solid black;
    text-align: center;
}